body {
  background-color: #00245e;
}

#Generel-container {
  margin-top: 150px;
  border-width:medium;
  border-color:black;
  border-style: solid;
  background-color: white;
  height: 700px;
}

#Planet-container {
  margin-top: 150px;
  border-width:medium;
  border-color:black;
  border-style: solid;
  background-color: white;
  height: 700px;
}

#Planet-container * {
  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#Generel-container * {
  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
 appearance: none;
 width: 250px; /* Full-width */
 height: 15px; /* Specified height */
 background: #d3d3d3; /* Grey background */
 outline: none; /* Remove outline */
 opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
 -webkit-transition: .2s; /* 0.2 seconds transition on hover */
 transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

* {
  font-family: Noto Sans, sans-serif;
}
